<app-header></app-header>
<div class="container mb-24">
    <div class="hero-section">
        <div class="hr-upper-content ">
            <h1>Our Bread & <span class="place-items-center">Butter <main-btn class="lg:pr-40"
                        btnText="Scroll Down"></main-btn></span></h1>
        </div>

        <div class="hr-lower-content flex w-full justify-between">
            <p class="left w-52">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt est cupiditate suscipit quis officia
                atque.
            </p>

            <p class="right w-52">
                Lorem ipsum dolor sit amet consectetur
            </p>
        </div>
    </div>
</div>

<div class="py-24">
    <div class="container">
        <p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, eveniet! Maxime in
            excepturi facilis pariatur mollitia maiores veritatis? Eum consectetur tenetur corporis ut nam dolor
            quisquam sequi, debitis itaque beatae.</p>

    </div>
</div>

<app-portfolios></app-portfolios>