<div class="container pb-28">
    <h2 class="mb-20">Portfolio</h2>

    <div class="ports-holder relative flex justify-start">
        <div class="port-card prt-1 w-1/2 px-20 py-7 rounded-2xl  bg-opacity-5 backdrop-blur-lg" id="">

            <div class="w-full h-52 bg-red-600 rounded-2xl mb-8"></div>

            <h3>Project One</h3>
            <p class="smaller-intro">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sunt ad dolores eius vitae, officiis
                repudiandae sed adipisci nesciunt doloribus quo tempore quasi minima autem quas optio, itaque enim
                corporis.
            </p>

        </div>
        <div class="notShowing port-card prt-2 w-1/2 px-20 py-7 rounded-2xl bg-opacity-5 backdrop-blur-lg" id="">

            <div class="w-full h-52 bg-lime-500 rounded-2xl mb-8"></div>

            <h3>Project One</h3>
            <p class="smaller-intro">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sunt ad dolores eius vitae, officiis
                repudiandae sed adipisci nesciunt doloribus quo tempore quasi minima autem quas optio, itaque enim
                corporis.
            </p>

        </div>


    </div>


</div>